﻿a{
    color: white;
}
a:hover{
    color: whitesmoke
}

#main {
    width: 100%;
    height: 100%;
}

#banner {
    width: 100%;
    height: 100%;
}

#backbutton {
}

.listItemTitle{
    font-size: 30px;
}

#content {
    width: 100%;
    height: 100%;
}

#externalPage{

}
.hidden{
    display: none;
}
.show{
    display: block;
}
#externalPage{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}
.close{
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    background: linear-gradient(to right, white , #103E2E);
    opacity: 0.80;
    cursor: pointer;
}

#close_left{
    left: 0;
}
#close_right{
    left: 90%;
}




    #main {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 132px 1fr;
    }

    #banner {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
    }

    #backbutton {
        margin-top: 54px;
        margin-left: 40px;
    }

    #maintitle {
        -ms-grid-column: 2;
        -ms-grid-row-align: center;
    }

    #content {
        width: 100%;
        height: 100%;
        -ms-grid-row: 2;
    }

#articlelist {
    width: 100%;
    height: 100%;
}

#articlelist .win-item {
    width: 300px;    
    height: 200px;
    overflow: hidden;
    background: #103E2E;
}

